<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileSharingApp</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
     <div class="navbar bg-primary navbar-dark navbar-expand-sm">
      <div class="container">
          <a href="/" class="navbar-brand">FileSharing</a>
          <ul class="navbar-nav mr-auto">
              @if (User.Identity.IsAuthenticated)
              {
                  <li class="nav-item">
                          <a href="/admin/filelist" class="nav-link">Admin Panel</a>
                   </li>

                   <li class="nav-item">
                          <a href="/admin/sharedfilesbyuser" class="nav-link">Mənimlə Paylaşılanlar</a>
                   </li>
              }
          </ul>

          <ul class="navbar-nav ml-auto">

              @if (User.Identity.IsAuthenticated)
              {
                  <li class="nav-item">
                      <a href="/account/manage" class="nav-link">@User.Identity.Name</a>
                  </li>

                  <li class="nav-item">
                      <a href="/account/logout" class="nav-link">Çıxış</a>
                  </li>
              }
              else
              {
                  <li class="nav-item">
                      <a href="/account/login" class="nav-link">Giriş</a>
                  </li>
                  <li class="nav-item">
                      <a href="/account/register" class="nav-link">Qeydiyyat</a>
                  </li>
              }
          </ul>
      </div>
    </div>
    </header>

     <main class="mb-3 mt-5">
        <div class="container">
               @RenderBody()
        </div>
    </main>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
